<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.monitoringplatform">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MonitoringPlatform"
        android:usesCleartextTraffic="true">
        <activity android:name=".notification" />
        <activity android:name=".network" />
        <activity android:name=".my_platforms" />
        <activity android:name=".rooms_settings" />
        <activity android:name=".rooms_devices" />
        <activity android:name=".profile_settings" />
        <activity android:name=".overview" />
        <activity android:name=".homepage" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".ui.login.login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".reminder" />
    </application>

</manifest>